@model Ecommerce.Models.Product

@{
    ViewBag.Name = "Product -" + Model.Name;
}

<h2>@Model.Name</h2>


<p>
    <img alt="@Model.Name"
         src="~/images/@Model.Photo" width="200"/>
</p>
<div id="item-details">
    
    <p>
        <em>Producer:</em>
        @Model.Description
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}",
Model.Price)
    </p>
    <p class="button1">
        @Html.ActionLink("Add to cart", "buy",
        "cart", new { id = Model.ID }, "")
    </p>
    <div class="fb-comments" data-width="230" data-numposts="5"></div>
</div>